Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li>
    图鉴
    <ul>
      <li>
        兰科植物
        <ul>
          
          <li>
            <a href="{{ '/建兰' | relative_url }}">建兰</a>
            <ul>
              <li><a href="{{ '/青山玉泉' | relative_url }}">青山玉泉</a></li>
              <li><a href="{{ '/红一品' | relative_url }}">红一品</a></li>
              <li><a href="{{ '/逸红双娇' | relative_url }}">逸红双娇</a></li>
              <li><a href="{{ '/翠玉牡丹' | relative_url }}">翠玉牡丹</a></li>
              <li><a href="{{ '/老种荷仙' | relative_url }}">老种荷仙</a></li>
              <li><a href="{{ '/静开素' | relative_url }}">静开素</a></li>
              <li><a href="{{ '/丹霞鱼枕素' | relative_url }}">丹霞鱼枕素</a></li>
              <li><a href="{{ '/丹棱素荷' | relative_url }}">丹棱素荷</a></li>
              <li><a href="{{ '/日月宝' | relative_url }}">日月宝</a></li>
              <li><a href="{{ '/宝钗素' | relative_url }}">宝钗素</a></li>
              <li><a href="{{ '/吹吹蝶' | relative_url }}">吹吹蝶</a></li>
              <li><a href="{{ '/精彩梅' | relative_url }}">精彩梅</a></li>
            </ul>
          </li>
          <li>
            <a href="{{ '/春兰' | relative_url }}">春兰</a>
            <ul>
              <li><a href="{{ '/环球荷鼎' | relative_url }}">环球荷鼎</a></li>
              <li><a href="{{ '/翠一品' | relative_url }}">翠一品</a></li>
              <li><a href="{{ '/云南朵香' | relative_url }}">云南朵香</a></li>
            </ul>
          </li>
          <li>
            <a href="{{ '/寒兰' | relative_url }}">寒兰</a>
            <ul>
              <li><a href="{{ '/细叶寒兰' | relative_url }}">细叶寒兰</a></li>
            </ul>
          </li>
          <li>
            <a href="{{ '/珍珠矮' | relative_url }}">珍珠矮</a>
          </li>
          <li>
            <a href="{{ '/蝴蝶兰' | relative_url }}">蝴蝶兰</a>
            <ul>
              <li><a href="{{ '/络比蝴蝶兰' | relative_url }}">络比蝴蝶兰</a></li>
              <li><a href="{{ '/自强香水' | relative_url }}">自强香水</a></li>
              <li><a href="{{ '/香奈儿' | relative_url }}">香奈儿</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul>
      <li>
        碗莲
        <ul>
          <li><a href="{{ '/紫仙8' | relative_url }}"></a>紫仙8</li>
        </ul>
      </li>
    </ul>
    <ul>
      <li>
        栀子
        <ul>
          <li>大叶栀子
            <ul>
              <li><a href="{{ '/大叶牡丹栀子' | relative_url }}">大叶牡丹栀子</a></li>
            </ul>
          </li>
          <li>小叶栀子
            <ul>
              <li><a href="{{ '/寿星栀子' | relative_url }}">寿星栀子</a></li>
              <li><a href="{{ '/蜡玉栀子' | relative_url }}">蜡玉栀子</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    术语
    <ul>
      <li>通用术语
        <ul>
          <li><a href="{{ '/锦化' | relative_url }}">锦化</a></li>
        </ul>
      </li>
      <li>兰科植物相关术语
        <ul>
          <li><a href="{{ '/国兰' | relative_url }}">地生兰</a></li>
          <li><a href="{{ '/附生兰' | relative_url }}">附生兰</a></li>
          <li><a href="{{ '/国兰' | relative_url }}">国兰</a></li>
          <li><a href="{{ '/洋兰' | relative_url }}">洋兰</a></li>
          <li><a href="{{ '/兰花的繁殖手段' | relative_url }}">兰花的繁殖手段</a></li>
          <li><a href="{{ '/国兰瓣型学说' | relative_url }}">国兰瓣型学说</a></li>
          <li><a href="{{ '/国兰叶艺' | relative_url }}">国兰叶艺</a></li>
          <li><a href="{{ '/蝶化现象' | relative_url }}">蝶化现象</a></li>
        </ul>
      </li>
      <li><a href="{{ '/盆景相关术语' | relative_url }}">造型标准</a></li>
    </ul>
  </li>
</ul>